.DS_Store
.idea
*.iml

api/node_modules
api/dist

navbar/node_modules
navbar/dist

people/node_modules
people/dist

planets/node_modules
planets/dist

root-config/node_modules
root-config/dist

styleguide/node_modules
styleguide/dist