.DS_Store
.idea
*.iml

code/api/node_modules
code/api/dist

code/navbar/node_modules
code/navbar/dist

code/people/node_modules
code/people/dist

code/planets/node_modules
code/planets/dist

code/root-config/node_modules
code/root-config/dist

code/styleguide/node_modules
code/styleguide/dist

*.ods#